<article class="post">
  <div class="title">
    <a href="/post/{{id}}">{{title}}</a>
  </div>
  <div class="meta">
    Posted by
    {{user.username}}
    on
    {{format_date created_at}}
    <br />
    <a href="/post/{{id}}">
      {{comments.length}}
      {{format_plural "comment" comments.length}}
    </a>
  </div>
</article>